.contextMenu {
  max-width: max-content;
  min-width: 200px;
  border: 1px solid gray;
  position: fixed;
}
.contextMenuItem {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid gray;
  user-select: none;
  background-color: rgb(250, 250, 250);
}
.contextMenuItem:last-child {
  border-bottom: none;
}
.contextMenuItem:hover,
.contextMenuItem:active {
  background: skyblue;
}
.contextMenuItemDanger {
  composes: contextMenuItem;
}
.contextMenuItemDanger:hover,
.contextMenuItemDanger:active {
  background: crimson;
  color: white;
}
